.result{
    position: absolute;
    top: 57px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    max-height: 400px;
    /* padding: 10px; */
    border-radius: 10px;
}
.formWrapper{
    width: fit-content;
}
.result{
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 280px;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}
.result li:not(:last-child)::after{
    content: "";
    display: block;
    height: 2px;
    background-color: grey;
    width: 100%;
    margin: 5px 0;
}
