.App {
  text-align: center;
}



* {
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}


input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid cyan;
  -webkit-text-fill-color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.icon-app:hover{
  color: #ffeb3b;
}
.main-search-bar{
  background-color: transparent;
  padding: 10px;
  border: none;
  font-size: 18px;
  border: 1px solid #ffeb3b;
  color: white;
  outline: none;
  padding-right: 30px;
  /* align-self: flex-end; */
}


.main-search-bar~div{
  height: fit-content;
}
.search-label{
  display: inline-block;
  height: 100%;
  position: relative;
  left: -30px;
  background: none;
  border: none;
  padding: 0;
}
.table{
  text-align: center;
  width: 600px;
  /* margin: auto; */
  
}
.icon{
  color: white;
}

.loggedOne{
  height: 100%;
}
.logged{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header-div{
  height: 3.5rem;
  
}
.logged:hover .dropdown-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: anim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  
  /* background-color:transparent; */
  /* border: 1px solid black; */
}


@keyframes anim{
  0%{
      transform: scale(0);
      transform-origin: top;
      opacity: 0;
  }
  10%{
      transform: scale(0.1);
      transform-origin: top;
      opacity: 0.1;
  }
  20%{
      transform: scale(0.2);
      transform-origin: top;
      opacity: 0.2;
  }

  30%{
      transform: scale(0.3);
      transform-origin: top;
      opacity: 0.3;
  }
  40%{
      transform: scale(0.4);
      transform-origin: top;
      opacity: 0.4;
  }

  50%{
      transform: scale(0.5);
      transform-origin: top;
      opacity: 0.5;
  }
  60%{
      transform: scale(0.6);
      transform-origin: top;
      opacity: 0.6;
  }

  70%{
      transform: scale(0.7);
      transform-origin: top;
      opacity: 0.7;
  }

  80%{
      transform: scale(0.8);
      transform-origin: top;
      opacity: 0.8;
  }
  90%{
      transform: scale(0.9);
      transform-origin: top;
      opacity: 0.9;
  }
  100%{
      transform: scale(1);
      transform-origin: top;
      opacity: 1;
  }

}
.dropdown-menu-list{
  
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 2px;
  
}
.dropdown-menu{
  position: absolute;
  backdrop-filter: blur(4px);
  top: 100%;
  width: 100%;
  overflow: hidden;
  /* padding: 10px; */
  box-sizing: border-box;
  transform: scale(0);
  background-color: rgba(255, 255, 255, 0.219);
  
}

.table td{
  padding: 10px;
  border: 1px solid black;
  
}

.table th{
  border: 1px solid black;
}
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

form {
  display: inline;
}


.logoutbtn{
  display: inline-block;  
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: none;
  color:red;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.logoutbtn:hover{
  background-color: rgb(206, 13, 13);
  color: white;
}

.submit-panel{
  display: flex;
  align-items: center;
  transform: translateX(20px);
}

.main-header {
  /* position: fixed; */
  width: 100%;
  height: 3.5rem;
  background-color:  black;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  z-index: 100;
  font-size: 14px;
  /* box-shadow: 0 5px 10px grey; */
}
.Total{
  display: flex;
  /* width: 100%; */
}
.main-header__nav {
  width: 100%;
  /* display: none; */
  position: relative;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  /* background-color: b; */
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid black;
  color: black;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.delbtn{
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid rgb(206, 13, 13);
  color:rgb(206, 13, 13);
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.delbtn:hover{
  background-color: rgb(206, 13, 13);
  color: white;
}
.main-header__nav
.btn:hover,
.btn:active {
  background-color: black;
  color: white;
}

.btn:hover{
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
.Page-Active{
  background-color: black;
  color: white;
}